@media screen and (min-width: 1150px) {
html,body{
	background-color: #000;
	color: #000000;
	font-family: 'Lato', sans-serif;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0px; 
	height: 100%;
}
.text{
    
    font-size: large;
    color: #626262;  
    
}


#block1{
    position: relative; 
    margin-top: -15px;
	width: 100%;
	height: auto; 
    padding-top: 150px; padding-bottom: 70px;
	  background-image: url(../img/bg-4fc7bf9a1cc3cccae754bac1735b3414.gif);

     background-attachment:fixed;
}

#A4{
width: 70%;
max-width: 900px;
 height: 1000px;
 background-color: #fff;
margin: 0 auto;    
font-size: 2em;
    box-shadow: 6px 6px 0 0 rgba(0,0,0,0.25);
}


h1{
	padding-top: 10%;
	margin-right: auto;
	margin-left: auto;
	font-size: xx-large;
	width: 80%;
	text-align: center;
	color: #626262; 
}
h2{
	padding-top: 15px;
	margin-right: auto;
	margin-left: auto;
	font-size: large;
	width: 80%;
	text-align: center;
	color: #626262; 
}
h3{
  
	margin-right: auto;
	margin-left: auto;
	font-size: x-large;
	width: 80%;
	text-align: center;
	color: #000; 
}
h4{
    font-size: 25px;
    font-family: Bebas; 
	margin-right: auto;
	margin-left: auto;
	font-size: x-large;
	width: 80%;
	text-align: center;
	color: #626262;  
}





footer{
    //color: #fff;
    text-align: center;
    position:  relative;
	width: 100%;
	height: 30%;
	background: linear-gradient(to bottom, #FDDB42, #FFF); 
    
}
footer a{
    color: #fff;
}
ul.footer_ul {
padding:5px; 
}
ul.footer_ul li {
display:inline;
border-left:1px solid #bbb;
padding:0 2px 0 4px;
}
ul.footer_ul li:first-child {
border:none;
}

footer{
    background: #000;
    float:left;
}

#social_content{
    margin:0 auto;  width: 210px; 
}
.social {
    margin: 10px; width: 50px; height: 50px; float: left;
      background-repeat: no-repeat; 
    background-size: cover; 
    
    	
}
.twitter{
    background-image: url(../img/twit_logo.png);

    }

.vk{
  	background-image: url(../img/vk_logo.png);
  
}
.inst{
    background-image: url(../img/inst_logo.png); 
}

}



@media screen and (max-width: 1150px) {
html,body{
	background-color: #fff;
	color: #000000;
	font-family: 'Lato', sans-serif;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0px; 
	height: 100%;
}
.text{
    
	font-size: large;
	color: #626262;  
    
}



#block1{
    position: relative; 
    margin-top: -15px;
	width: 100%;
	height: auto; 
    padding-top: 150px; padding-bottom: 70px;
	  background-image: url(../img/bg-4fc7bf9a1cc3cccae754bac1735b3414.gif);

     background-attachment:fixed;
}

#A4{
width: 80%;
 height: 1000px;
 background-color: #fff;
margin: 0 auto;    
font-size: 2em;
    box-shadow: 6px 6px 0 0 rgba(0,0,0,0.25);
}


h1{
	padding-top: 10%;
	margin-right: auto;
	margin-left: auto;
	font-size: large;
	width: 80%;
	text-align: center;
	color: #626262; 
}

h2{
	padding-top: 15px;
	margin-right: auto;
	margin-left: auto;
	font-size: large;
	width: 80%;
	text-align: center;
	color: #626262; 
}
h3{
    padding-top: 15px;
	margin-right: auto;
	margin-left: auto;
	font-size: x-large;
	width: 80%;
	text-align: center;
	color: #000; 
}
h4{
    margin-top:  100px;
	margin-right: auto;
	margin-left: auto;
	font-size: x-large;
	width: 90%;
	text-align: center;
	color: #626262;  
}



footer{
    //color: #fff;
    text-align: center;
    position:  relative;
    width: 100%;
    height: 200px;
    background: #FDDB42; 
    
}
footer a{
    color: #fff;
}
ul.footer_ul {
padding:5px; 
}
ul.footer_ul li {
display:inline;
border-left:1px solid #bbb;
padding:0 2px 0 4px;
}
ul.footer_ul li:first-child {
border:none;
}

footer{
    background: #000;
   
    float:left;
    
}



#social_content{
    margin:0 auto;  width: 210px; 
}
.social {
    margin: 10px; width: 50px; height: 50px; float: left;
      background-repeat: no-repeat; 
    background-size: cover; 
    
    	
}
.twitter{
    background-image: url(../img/twitter-icon.png);

    }

.vk{
  	background-image: url(../img/vkb.png);
  
}
.inst{
    background-image: url(../img/inst.png); 
}



}



@media screen and (max-width: 550px) {


#A4{
width: 90%;
 height: 1000px;
 background-color: #fff;
margin: 0 auto;    
font-size: 2em;
    box-shadow: 6px 6px 0 0 rgba(0,0,0,0.25);
}

 
 h1{


}
h2{

	font-size: x-small;

}
h3{

	font-size: medium;

}
h4{
 
	font-size: large;

}


}

@media screen and (max-width: 480px) {
 

.text{
   font-size: x-small;

}
    
}


