.mw_text{
    top:-3px; margin-left:2px; position: relative;
}
.mw_icon{
    width: 20px;
    height: 20px;
}
.button7 { 
    width:200px; margin-bottom: 10px; cursor: pointer;
    width: 200px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 550; font-size: 15px; 
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(57,57,57);
    box-shadow: 0 -3px rgb(27,27,27) inset;
    transition: 0.2s;
    border: 0px red solid;
    margin: 3px;
    font-family: 'Rubik', sans-serif;
} 

.button7:hover { 
    background: rgb(53, 167, 110);background-color:#f3c800; 
    color:rgb(57,57,57); box-shadow: 0 -3px rgb(226, 166, 0) inset;
}
.button7:active {
  
} 

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-top: 5px red solid;
	border-color: #f3c800; 
	background-color: #000000;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #f3c800;
}

body::-webkit-scrollbar-thumb
{
	
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f3c800;
}
.window::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-top: 5px red solid;
	border-color: #f3c800; 
	background-color: #000000;
}

.window::-webkit-scrollbar
{
	width: 10px;
	background-color: #f3c800;
}

.window::-webkit-scrollbar-thumb
{
	
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f3c800;
}

@media screen and (min-width: 1150px) {
html, body {    font-family: 'Rubik', sans-serif; }
	#header {
	    height: 20px;
	    position: fixed;
		width: 100%;
		margin-top: 0px;
		top: 0px;
		left: 0;
	    z-index: 20;
		font-family: 'Rubik', sans-serif;
	}
	#top{
		position: relative;
	    top: 0px;
	    height: 52px;
	    border-top: 5px solid #f3c800;
		background: #10100C;
	    opacity: 0.95; 
		font-family: 'Rubik', sans-serif;
	}
	#trigger{
	 
		display: none;
	} 
	#links{
	font-family: 'Rubik', sans-serif;
	    padding-right: 40px;  
	    height: 52px; 
	    width:950px; 
	    margin-left: auto; 
	    margin-right: auto;
	}
	
	.menu_button{
	font-family: 'Rubik', sans-serif;
		height: 34px;
		float:right;  
		margin: 0; 
	}
	.menu_button li{
		display: inline-block; 
		height: 52px;
		line-height: 52px;	
		z-index: 10;
	    cursor: pointer;
		font-family: 'Rubik', sans-serif;
	}
	.menu_button a{
		text-decoration: none;
		color: #fff;
		//font-family: 'Lato', sans-serif;
		font-family: 'Rubik', sans-serif;
		font-size: 13px;
		font-weight: bold;
		display: block;
		height:100%;
		padding: 0px 20px 0;
		vertical-align: middle;

		
	}
	.menu_button li:hover   {
		background-color:#f3c800; 
		font-family: 'Rubik', sans-serif;
		
	}
	.menu_button li:hover a {
	color:#10100C;
	font-family: 'Rubik', sans-serif;
	}

	#qlubbah_logo{
		float: left;
		color: #fff;
		text-transform: uppercase;
		font-size: 24px;
		font-family: 'Bebas';
		font-weight: normal;
		margin-top: 2px;
		text-decoration:none;
	}

}
@media screen and (max-width: 1150px) {
	#header {
	    height: 20px;
	    position: fixed;
		width: 100%;
		margin-top: 0px;
		top: 0px;
		left: 0;
	    z-index: 20;
		font-family: 'Rubik', sans-serif;
	}
	#top{
		position: relative;
	    top: 0px;
	    height: 50px;
	    border-top: 5px solid #f3c800;
		background: #10100C;
	    //background: linear-gradient(to top, #ffa375, #FF4500);
	    opacity: 0.95; 
		font-family: 'Rubik', sans-serif;
	}
	#trigger{
	  float: left;
	  display: block; 
	  width: 50px; 
	  height: 50px;
	  background-image: url(../img/menu.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	} 

	.jPanelMenu-panel{
	    height: 100%;
	        
	}

	#links{ font-family: 'Rubik', sans-serif;
		padding-right: 40px;  height: 10px; width:100%; margin-left: auto; margin-right: auto;
	}
	.menu_button{
	    font-family: 'Rubik', sans-serif;
		height: 34px;
	    background-color:#000;
		margin: 0; 
	    padding-top: 200px;
	    display: none;	
	}
	.menu_button li{
	    padding: 20px 20px 20px 20px;
		height: 52px;
		line-height: 52px;	
		z-index: 10; 
	    list-style-type:none;
	    cursor: pointer;
		font-family: 'Rubik', sans-serif;
	}
	.menu_button a{
		text-decoration: none;
		color: #FFF;
		font-family: 'Rubik', sans-serif;
		//font-family: 'Bebas';
		font-size: 25px;
		font-weight: bold;
		display: block;
		height:100%;
		padding: 0px 20px 0;
		vertical-align: middle;
	}
	.menu_button li:hover   {
		background-color:#f3c800; 
		
	}
	.menu_button li:hover a {
		color:#10100C;
	}
	#qlubbah_logo{
		float: right;
		color: #fff;
	    padding-right: 40%;
		text-transform: uppercase;
		font-size: 25px;
		font-family: 'Bebas';
		font-weight: normal;
		margin-top: 2px;
		text-decoration:none;
	}

	#m_exit{
	    background-image: url(../img/exit_4.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	    cursor: pointer;
	    width: 50px; height:50px;  top: 5px; right:0px; z-index:100;position: absolute;    
	}
}

@media screen and (max-width: 600px) {

	#qlubbah_logo{
	width: 150px;
	font-size: 23px;
	}

	#trigger{
        float: left;
        display: block; width: 50px; height: 50px;
    } 
    #top{
        height: 50px;
    }
    .menu_button{
         padding-top: 70px;
         font-size: 10px;
    }
    .menu_button a{
	
	     font-size: 20px;
    }
    #m_exit{
   
         width: 50px; height:50px;    
    }

}
@media screen and (max-width: 480px) {
	#qlubbah_logo{
		padding-right: 0px;
		margin-right: 170px;
	}
}
@media screen and (max-width: 400px) {
	#qlubbah_logo{
		padding-right: 0px;
		margin-right: 80px;
	}
}